wheel==0.29.0
urllib3==1.15.1
pyasn1==0.1.9
pyOpenSSL==16.2.0
ndg-httpsclient==0.4.0
colorlog==2.10.0
ujson==1.35
validictory==1.1.0
attrdict==2.0.0
decorator==4.1.2
MySQL-python==1.2.5
SQLAlchemy==1.1.13
chardet==3.0.4
falcon==1.2.0
tox==2.3.1
coverage==4.1
Sphinx==1.4.8
unicodecsv==0.14.1
falcon-multipart==0.2.0
# older version due to https://github.com/sphinx-doc/sphinx/issues/3212
docutils==0.12
sphinxcontrib-napoleon==0.6.1
